.btn {
  border-radius: 5px;
  box-shadow: 0 2px 0 0 #a67d03;
  background: linear-gradient(180deg, #f2cb05 0%, #f2b705 100%);

  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #000;
}
