.glamping {
  padding: 80px 0 108px;
}

.glamping__container {
}
.glamping__title {
  font-weight: 700;
  font-size: 42px;
  text-align: center;

  margin-bottom: 60px;
}
.glamping__items {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.glamping__item {
  display: flex;
  gap: 30px;
}

.item-revers {
  flex-direction: row-reverse;
}
.glamping__item-img {
  flex: 1;
}
.glamping__item-info {
  flex: 1;
  padding: 35px 0;
}
.glamping__item-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 10px;
}
.glamping__item-desc {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 15px;
}
.glamping__div-btn {
}
.glamping__btn {
  padding: 12px 55px;
}
.btn {
}
