.glamping {
  padding: 80px 0 108px;
}

.glamping__container {
}
.glamping__title {
  font-weight: 700;
  font-size: 42px;
  text-align: center;

  margin-bottom: 60px;
}
.glamping__items {
}
.glamping__item {
    display: flex;
}
.glamping__item-title {
}
.glamping__item-desc {
}
.glamping__div-btn {
}
.glamping__btn {
}
.btn {
}
